<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">
  <resultMap type="Member" id="memberResultSet">
    <id property="id" column="m_Id" />
    <result property="pwd" column="m_Pwd" />
  </resultMap>
  
  <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
    SELECT * FROM MEMBER WHERE ID=#{memberId} AND PWD=#{memberPwd}
  </select>
</mapper>